{% extends "master.html.twig" %}

{% block title %}Admin main page{% endblock %}

{% block content %}
    <h3>Admin main page</h3>
    <p><a href="/admin/users/list">Manage users</a></p>
{% endblock %}