
{% extends "master.html.twig" %}
{% block title %}Add Person{% endblock title %}
{% block content %}
{% if errorList %}
 <ul>
    {% for error in errorList %}
    <li class="errorMessage">{{error}}</li>
    {% endfor %}
 </ul>
{% endif %}

<form method="POST">
    Name: <input type="text" name="name" id="" value={{vList.name}}><br>
    Age: <input type="number" name="age" id="" value={{vList.age}}><br>
    <input type="submit" value="Add Person">
</form>

{% endblock content %}