{% extends "master.html.twig" %}
{% block title %}Hello{% endblock title %}
{% block content %}
<p>Hello (from Twig)<i>{{ name }}</i> you are <b>{{age}} y/o.</b></p>
<p>Record with id {{insertId}} created.</p>

{% endblock content %}