{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Image: <input type="file" name="image"/>
        <textarea name="body" cols="60" rows="10">{{v.body}}</textarea><br>
        <input type="submit" value="Post article">
    </form>

{% endblock content %}
