{% extends "master.html.twig" %}


{% block content %}
	{% for a in list %}
		<div class="articleBox">
			<br>
			{# <h2><a href="/article/{{a.id}}">{{a.title}}</a></h2> #}

			<div class="articleBody">
				<h2>{{a.message}}</h2>
			</div>
			<i>Shouted by
				{{a.username}}
			</i>
		</div>
	{% endfor %}
{% endblock %}
