{% extends "master.html.twig" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="articlePreviewBox">
    {% for a in list %}
        <div class="articleBox">
            <h2></h2>
        </div>
    {% endfor %}
    </div>
{% endblock %}