{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=username]').on('paste blur change input', function() {
                var email = $('input[name=username]').val();
                $("#usernameTaken").load("/isusernameTaken/" + username); // AJAX request
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
{% endblock head %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

        <form method="post" enctype="multipart/form-data">
            User name: <input type="text" name="username" value="{{ v.username }}"><br>
            <span class="errorMessage" id="usernameTaken"></span><br>
            Password <input type="password" name="pass1"><br>
            Password (repeated) <input type="password" name="pass2"><br>
            Image: <input type="file" name="image"/><br>
            <input type="submit" value="Register">
        </form>
{% endblock content %}
